.btn-pressed {
    background-color: #aaa;
}

.input-error {
    border: 3px solid rgba(255, 0, 0, 0.4);
}
.input-ok {
    border: 3px solid rgba(0,255,0,0.5);
}
.loc-error {
    width: 85%;
    margin: 0 auto;
    color: rgba(255, 0,0,0.75);
}

body {
   background-image: url("../images/bikeback.jpg");
   background-repeat: no-repeat;
   background-size: 100% 560px;
   background-color: #FFFACD;
}

.headimg {
    width: 75px;
    height: 50px;
    border: 4px solid #90EE90;
    background-color: #98FB98;
    border-radius: 10px;
    margin: 5px;
    animation-name: move;
    animation-duration: 3s;
}

.headimg2 {
    display: none;
}

.weatherimg {
    width: 40px;
    height: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.whatweather {
    text-align: center;
    font-weight: bolder;
}

.weatherconts {
    width: 75px;
    float: right;
    border: 4px solid #87CEFA;
    background-color: #F0E68C;
    padding: 10px;
    border-radius: 10px;
    margin-left: 3px;
}

.whatweather {
    color: white;
}
.timetext {
    text-align: center;
}

.mapcont {
    margin-top: 35px;
}

.map {
    width: 100%;
}

.direction {
    text-align: center;
    border-bottom: 2px solid black;
}

.direction-col {
    border: 2px solid black;
    border-bottom: none;
    height: 350px;
    /* background: rgb(220, 220, 220); */
    background-image: linear-gradient(to bottom, rgb(255,255,255), rgb(120,120,120) ,rgb(36, 36, 36));
    overflow-y: scroll;
}
.direction-col::-webkit-scrollbar {
    width: 0;
}

.enterroute {
    /* background-color: #999999; */
    background-color: #444;
    padding: 12px;
    /* border-radius: 10px; */
    border: 4px solid #98FB98;
    margin-top: 20px;
}

.rinput {
    width: 100%;
    border-radius: 10px;
    height: 40px;
    font-size: 20px;
}

input[type=text]:focus{
    outline: none;
}

button:focus{
    outline: none;
}

.drop:focus {
    outline: none;
}

.btn {
    border: 2px solid #696969;
    border-radius: 10px;
    width: 100%;
    height: 50px;
    background-color: #90EE90;
    margin: 10px auto;
    color: white;
}

.drop {
    margin-top: 15px;
    border-radius: 10px;
    height: 40px;
}

.opbtn {
    /* clear: both; */
    /* width: 60px; */
    /* height: 50px; */
    /* margin-top: 5px; */
    /* border: 2px solid #696969; */
    /* border-radius: 10px; */
    /* background-color: #90EE90; */
}

.localoptionbox {
    margin-top: 10px;
    /* display: none; */
}

.hide {
    display: none;
}


.localsearch {
    margin-top: 10px;
}

.card {
    width: 250px;
    float: left;
    padding: 20px;
}

.direction-p {
    margin: 3px 0px;
}
.direction-hr {
    margin: 2px;
}

.poi-card {
    background-color: #ddd;
    border-radius: 5px;
    padding: 4px;
    /* height: 125px; */
}
.poi-card:hover {
    cursor: pointer;
}

.hide {
    display: none;
}

.bold-instruction {
    font-weight: bold;
    font-size: 1.4em;
    margin: 5px;
}

.data-form {
    text-align: center;
}

.data-form-btn {
    margin: 15px auto;
}

@keyframes move {
    from {margin-left: 100%;}
    to {margin-left: 5px;}

    from {background-color: transparent;}
    to {background-color: #98FB98;}
}

/* 
    MEDIA QUERIES
*/
@media screen and (max-width: 720px) {
    body {
        background-image: none;
    }

    .headrow {
        background-image: url("../images/nsmallb.jpg");
        background-repeat: no-repeat;
        background-size: 100% 300px;
        width: 100%;
        padding: 5px;
        margin: 0 auto;
    }

    .headimg1 {
        display: none;
    }

    .headimg2 {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .toggle-btn {
        margin-top: 10px;
        margin: 0 auto;
    }

    body {
        background-size: 100% 10%;
    }

    .container {
        padding: 2px;
    }

    .headtext {
        color: #98FB98;
    }

    .poi-card {
        margin: 5px auto;
    }
}

@media screen and (max-width: 1024px) {
    .lowert {
        display: none;
    }

    body {
        background-size: 100% 400px;
    }
}